# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media
staticfiles

# Python
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac
.DS_Store
